# Your Plaid keys, which can be found in the Plaid Dashboard.
# https://dashboard.plaid.com/account/keys

PLAID_CLIENT_ID="replace-me"

PLAID_SECRET_DEVELOPMENT="unused"
PLAID_SECRET_SANDBOX="replace-me-for-sandbox"
PLAID_SECRET_PRODUCTION="replace-me-for-production"

# The Plaid environment to use ('sandbox', 'development', or 'production').
# https://plaid.com/docs/#api-host

PLAID_ENV=sandbox
PLAID_PRODUCTS="transactions"
# Country codes in capital letters, comma-separated. 
PLAID_COUNTRY_CODES="US"
PLAID_LANGUAGE="en"

ACTUAL_SERVER_URL="http://actual-server:5006"
ACTUAL_SERVER_PASSWORD="replace-me"
ACTUAL_SERVER_ENCRYPTION_PASSWORD=""

# Webapp Information
APP_PORT=3000
APP_BIND_ADDRESS=127.0.0.1

# URL this tool will run on, for linking accounts. Requires https for oAUTH (https://example.com).
APP_URL="http://localhost"
